# Configuração do Banco de Dados
DATABASE_URL=forja_ghost.sqlite
DB_ENCRYPTION_KEY=super_secret_aes_key


# Configuração das LLMs
GROQ_API_KEY=gsk_sua_chave_groq_aqui
GEMINI_API_KEY=AIza_sua_chave_gemini_aqui
